sendgrid.env
__pycache__/
build/
cvparterpy.egg-info/
cvpartnerpy.egg-info/
dist/
old/
tags
user.ndjson
users.ndjson
test/
src.zip
*.gexf
*.pdf
*.gephi
exploring.ipynb
.python-version

sonar-project.properties
.scannerwork/

.DS_Store
.pytest_cache/
.vscode/

.venv
.env
.ruff_cache/

*.ipynb_checkpoints

presentation_*

/tests/data/*
/tests/*.ipynb
/tests/**/*.pptx
example_cv.json

cvpartner/notebooks/
cvpartner/notebooks/**/*.csv
cvpartner/notebooks/kpi_results/


.DS_Store
.vscode/
