sendgrid.env
__pycache__/
build/
dist/
old/
tags
user.ndjson
users.ndjson
#test/
src.zip
*.gexf
*.pdf
*.gephi
exploring.ipynb
.python-version


sonar-project.properties
.scannerwork/

.DS_Store
.pytest_cache/
.vscode/

.venv
.env
.ruff_cache/

*.ipynb_checkpoints

presentation_*

flowcasepy.egg-info

/tests/data/*
/tests/*.ipynb
/tests/**/*.pptx
example_cv.json

cvpartner/notebooks/
cvpartner/notebooks/**/*.csv
cvpartner/notebooks/kpi_results/
flowcase/notebooks/
flowcase/notebooks/**/*.csv
/notebooks/kpi_results/

.DS_Store
.vscode/
*.xlsx